<body style="background-image:Url('../assets/brain.jpg');background-attachment:fixed;">
<div class="container"style="color:white;background-color:black;opacity:0.5;text-align:center;">
<h1>QUOTES.</h1>
<hr>
</div>
<div class="container"style="color:white;text-align:center;">
  <div *ngFor='let quote of quotes;let i = index'>
    <h5>{{quote.name}}</h5>
    <li id="{{i}}">Created on {{quote.creationDate|date}}</li>
    <button class="btn btn-primary"(click)='togleDetails(i)'>Details</button>
    <app-quote-details *ngIf="quote.showDescription"[quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
  </div>
  </div><div class="container" style="padding-left:150px;padding-bottom:30px;">
  </div>
<p *ngIf='quotes.length > 5 '>You have too many quotes</p>
<div class="container">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
</body>